AEP_GW_health_flow.json
[{"id":"88927653.0b6418","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"48b39314.d78d8c","type":"exec","command":"ifconfig","addpay":false,"append":"","useSpawn":false,"name":"ifconfig","x":441,"y":151,"z":"dff434b1.b77188","wires":[["b0fd0450.271298"],[],[]]},{"id":"cfd0df15.3fa7e","type":"mqtt in","name":"lora/+/up","topic":"lora/+/up","broker":"88927653.0b6418","x":149.99999237060547,"y":719,"z":"dff434b1.b77188","wires":[["36339c55.577e74"]]},{"id":"36339c55.577e74","type":"debug","name":"/up","active":false,"console":"false","complete":"payload","x":318.0000305175781,"y":719,"z":"dff434b1.b77188","wires":[]},{"id":"2c244a02.5a9e26","type":"mqtt in","name":"lora/+/joined","topic":"lora/+/joined","broker":"88927653.0b6418","x":145.8761978149414,"y":772.388671875,"z":"dff434b1.b77188","wires":[["68aa9ed5.2b08d"]]},{"id":"68aa9ed5.2b08d","type":"debug","name":"/joined","active":false,"console":"false","complete":"payload","x":315.876220703125,"y":772.388671875,"z":"dff434b1.b77188","wires":[]},{"id":"fceb127d.3015","type":"mqtt in","name":"lora/+/received","topic":"lora/+/received","broker":"88927653.0b6418","x":134.87620544433594,"y":663.388671875,"z":"dff434b1.b77188","wires":[["98275bd3.9e70c8"]]},{"id":"98275bd3.9e70c8","type":"debug","name":"/up","active":false,"console":"false","complete":"payload","x":312.87622833251953,"y":663.388671875,"z":"dff434b1.b77188","wires":[]},{"id":"8c00f81e.e6b308","type":"mqtt in","name":"lora/+/down","topic":"lora/+/down","broker":"88927653.0b6418","x":554.0000305175781,"y":664.0000076293945,"z":"dff434b1.b77188","wires":[["e6aae9d4.fd0ce8"]]},{"id":"e6aae9d4.fd0ce8","type":"debug","name":"/down","active":false,"console":"false","complete":"payload","x":707.0000305175781,"y":664.0000076293945,"z":"dff434b1.b77188","wires":[]},{"id":"89882d94.7b32b","type":"mqtt in","name":"lora/+/packet_sent","topic":"lora/+/packet_sent","broker":"88927653.0b6418","x":537,"y":719.0000076293945,"z":"dff434b1.b77188","wires":[["e74ced92.9bc9"]]},{"id":"e74ced92.9bc9","type":"debug","name":"/packet_Sent","active":false,"console":"false","complete":"payload","x":726.0000915527344,"y":719.0000076293945,"z":"dff434b1.b77188","wires":[]},{"id":"8c527426.cd6b28","type":"debug","name":"/Queue_full","active":false,"console":"false","complete":"payload","x":724.09423828125,"y":773,"z":"dff434b1.b77188","wires":[]},{"id":"58416067.ed8b3","type":"mqtt in","name":"lora/+/queue_full","topic":"lora/+/packet_sent","broker":"88927653.0b6418","x":535.0941467285156,"y":773,"z":"dff434b1.b77188","wires":[["8c527426.cd6b28"]]},{"id":"f38f6cb7.dd247","type":"http request","name":"gwid","method":"GET","ret":"txt","url":"http://127.0.0.1/api/system/deviceId","x":443,"y":101,"z":"dff434b1.b77188","wires":[["f9bb3754.922078"]]},{"id":"f9bb3754.922078","type":"function","name":"aep id","func":"var responce = JSON.parse(msg.payload);\n//context.global.aep.id = responce.result;\ncontext.global.device.id = responce.result;\nreturn msg;","outputs":1,"noerr":0,"x":596.9999847412109,"y":100,"z":"dff434b1.b77188","wires":[[]]},{"id":"b0fd0450.271298","type":"function","name":"ip","func":"// Parse the entire string by spaces, and put each item into an array called tokens\nvar tokens = msg.payload.split(\":\", 10);\n// Get the 7th token (example: \"addr:192.168.0.120\")\n// and get the substring from character 6 to the end\nvar inet = tokens[7].split(\" \", 1);\n// Get the 9th token (example: \"Mask:255.255.255.0\")\n// and get the substring from character 6 to the end\nvar mask = tokens[9].split(\" \", 1);\n//context.global.aep.ip = inet[0];\ncontext.global.device.eth0.ip = inet[0];\ncontext.global.device.eth0.sub = mask[0];\n","outputs":1,"noerr":0,"x":598,"y":138,"z":"dff434b1.b77188","wires":[[]]},{"id":"1f4dc61d.7ce59a","type":"http request","name":"ppp","method":"GET","ret":"txt","url":"http://127.0.0.1/api/stats/ppp","x":440,"y":249,"z":"dff434b1.b77188","wires":[["563409cf.327138"]]},{"id":"629c18aa.f5b108","type":"exec","command":"cat /sys/class/hwmon/hwmon0/device/temp1_input","addpay":false,"append":"","useSpawn":"","name":"temp","x":443,"y":203,"z":"dff434b1.b77188","wires":[["7e071c5c.ebbb74"],[],[]]},{"id":"2ea34ed6.acfdc2","type":"debug","name":"","active":true,"console":"false","complete":"false","x":441,"y":542,"z":"dff434b1.b77188","wires":[]},{"id":"952a58f9.046268","type":"function","name":"device","func":"msg.payload = context.global.device;\nreturn msg;","outputs":1,"noerr":0,"x":259.00341796875,"y":542.1527709960938,"z":"dff434b1.b77188","wires":[["2ea34ed6.acfdc2"]]},{"id":"3b7e1f79.d8ce4","type":"inject","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.00689697265625,"y":542.6318969726562,"z":"dff434b1.b77188","wires":[["952a58f9.046268"]]},{"id":"7e071c5c.ebbb74","type":"function","name":"cpu temp","func":"context.global.device.system.temp = (msg.payload * .001).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":190,"z":"dff434b1.b77188","wires":[[]]},{"id":"563409cf.327138","type":"function","name":"cellular ppp","func":"// https://opencellid.org/\nvar ppp = JSON.parse(msg.payload);\n//context.global.device.cellular = ppp.result; \ncontext.global.device.cellular.areaCode = ppp.result.areaCode;\ncontext.global.device.cellular.ip = ppp.result.ip || \"0.0.0.0\";\ncontext.global.device.cellular.roaming = ppp.result.roaming;\ncontext.global.device.cellular.tower =   parseInt(ppp.result.tower, 16);\nif (typeof ppp.result.rx.bytes === 'undefined'){\n    context.global.device.cellular.rxbytes = 0; \n    context.global.device.cellular.txbytes = 0;\n} else {\n    context.global.device.cellular.rxbytes = ppp.result.rx.bytes; \n    context.global.device.cellular.txbytes = ppp.result.tx.bytes;\n}\n","outputs":1,"noerr":0,"x":618,"y":248,"z":"dff434b1.b77188","wires":[[]]},{"id":"b3fa28c1.01ad58","type":"http request","name":"FRED","method":"use","ret":"txt","url":"","x":742,"y":448,"z":"dff434b1.b77188","wires":[["e5b507a9.569ad8","49dcdb04.9f22a4"]]},{"id":"db3e4cfd.78c4f","type":"http request","name":"radio","method":"GET","ret":"txt","url":"http://127.0.0.1/api/stats/radio","x":440,"y":293,"z":"dff434b1.b77188","wires":[["52c36a24.eee654"]]},{"id":"52c36a24.eee654","type":"function","name":"cellular radio","func":"// https://opencellid.org/\nvar radio = JSON.parse(msg.payload);\ncontext.global.device.cellular.rssi = radio.result.rssidBm;\ncontext.global.device.cellular.network = radio.result.network;\ncontext.global.device.cellular.service = radio.result.service;\ncontext.global.device.cellular.mcc = radio.result.mcc;\ncontext.global.device.cellular.mnc = radio.result.mnc;\ncontext.global.device.cellular.lac = parseInt(radio.result.lac, 16);\ncontext.global.device.cellular.cid = parseInt(radio.result.cid, 16);\n//msg.url = \"https://fred.sensetecnic.com/public/law01/dump?m=\"+JSON.stringify(ppp.result);\n\n/* cell rssi\n-69 dBm or greater: Strong signal\n-89 dbm to -70 dBm: Medium to high signal\n-99 dbm to -90 dBm: Weak signal \n-100 dBm or less: Unacceptable signal, check antenna connection\n*/\n\n","outputs":1,"noerr":0,"x":616,"y":293,"z":"dff434b1.b77188","wires":[[]]},{"id":"6875e9da.a78d08","type":"http request","name":"sys","method":"GET","ret":"txt","url":"http://127.0.0.1/api/system","x":440,"y":338,"z":"dff434b1.b77188","wires":[["842f4d91.ae1d5"]]},{"id":"842f4d91.ae1d5","type":"function","name":"system","func":"var sys = JSON.parse(msg.payload);\ncontext.global.device.system.macAddress = sys.result.macAddress ;\ncontext.global.device.system.firmware = sys.result.firmware;\ncontext.global.device.system.freememory = (sys.result.memory.total.free/1000000).toFixed(1); \ncontext.global.device.system.uptime = sys.result.uptime;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":338,"z":"dff434b1.b77188","wires":[[]]},{"id":"80a7ad3e.0a5bb","type":"exec","command":"df -h","addpay":false,"append":"","useSpawn":"","name":"","x":439,"y":393,"z":"dff434b1.b77188","wires":[["55bcd4a8.af20ac"],[],[]]},{"id":"bd8b3c85.73257","type":"inject","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":456,"y":489,"z":"dff434b1.b77188","wires":[["8071a476.b89be8"]]},{"id":"8071a476.b89be8","type":"function","name":"cloud","func":"context.global.device.ts = Date.now();\nmsg.payload= context.global.device;\nmsg.url = \"https://law01.fred.sensetecnic.com/api/public/dump\";\nmsg.method = \"POST\";\nmsg.payload = JSON.stringify(context.global.device);\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":448,"z":"dff434b1.b77188","wires":[["b3fa28c1.01ad58"]]},{"id":"e5b507a9.569ad8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":874,"y":407,"z":"dff434b1.b77188","wires":[]},{"id":"55bcd4a8.af20ac","type":"function","name":"SD","func":"context.global.device.system.sd = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":380,"z":"dff434b1.b77188","wires":[[]]},{"id":"18acf3d8.68dadc","type":"comment","name":"LoRaWAN - Debug","info":"","x":121,"y":614,"z":"dff434b1.b77188","wires":[]},{"id":"edca75da.7a7f48","type":"delay","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":448,"y":448,"z":"dff434b1.b77188","wires":[["8071a476.b89be8"]]},{"id":"910b8f4a.2d7e3","type":"comment","name":"AEP monitor v0.1.1","info":"","x":103,"y":22,"z":"dff434b1.b77188","wires":[]},{"id":"27901af2.70c536","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"88927653.0b6418","x":484,"y":903,"z":"dff434b1.b77188","wires":[]},{"id":"e4a34d66.511f9","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146,"y":903,"z":"dff434b1.b77188","wires":[["f9cf0833.4e1428"]]},{"id":"f9cf0833.4e1428","type":"function","name":"ADR","func":"msg.topic=\"lora/0e:7e:34:64:33:30:67:44/down\";\nmsg.payload = '{\"data\":\"A0AHAAE=\",\"port\":0}';\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":903,"z":"dff434b1.b77188","wires":[["27901af2.70c536"]]},{"id":"cf806385.1458b","type":"comment","name":"LoRaWAN - MAC","info":"","x":124,"y":862,"z":"dff434b1.b77188","wires":[]},{"id":"10d74e38.3eaa82","type":"function","name":"link","func":"return msg;","outputs":1,"noerr":0,"x":266,"y":254,"z":"dff434b1.b77188","wires":[["f38f6cb7.dd247","48b39314.d78d8c","629c18aa.f5b108","1f4dc61d.7ce59a","db3e4cfd.78c4f","6875e9da.a78d08","80a7ad3e.0a5bb","edca75da.7a7f48"]]},{"id":"9f099378.358b4","type":"delay","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":106,"y":234,"z":"dff434b1.b77188","wires":[["10d74e38.3eaa82"]]},{"id":"b4b0942d.bf38c8","type":"inject","name":"heart beat","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":111,"y":284,"z":"dff434b1.b77188","wires":[["10d74e38.3eaa82"]]},{"id":"49dcdb04.9f22a4","type":"function","name":"responce","func":"var responce = {\"statusCode\": msg.statusCode, \"action\" : msg.payload};\ncontext.global.device.endPointResponce = responce;\nmsg.pyalod = responce;\nreturn msg;","outputs":1,"noerr":0,"x":879,"y":448,"z":"dff434b1.b77188","wires":[["ba07b21c.0286d"]]},{"id":"ba07b21c.0286d","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1037,"y":448,"z":"dff434b1.b77188","wires":[]},{"id":"aeddcc80.58744","type":"inject","name":"onInit","topic":"onInit","payload":"onInit","payloadType":"string","repeat":"","crontab":"","once":true,"x":90,"y":64,"z":"dff434b1.b77188","wires":[["4d98fafd.697d94"]]},{"id":"4d98fafd.697d94","type":"function","name":"device ojb","func":"if(typeof context.global.device === 'undefined' || msg.topic === 'reInit'){\n    var gw = {\n    \t\"site\": \"St_Albans - Dev02\",\n    \t\"id\" : null,\n    \t\"eth0\": {\n    \t\t\"ip\": null,\n    \t\t\"sub\": null\n    \t},\n    \t\"cellular\":{\n            \"areaCode\": null,\n            \"ip\": null,\n            \"rssi\": null,\n            \"roaming\": null,\n            \"tower\": null,\n            \"rxbytes\": null,\n            \"txbytes\": null,\n            \"service\": null,\n            \"network\": null,\n            \"mcc\": null,\n            \"mnc\": null,\n            \"lac\": null,\n            \"cid\": null\n        },\n    \t\"system\": {\n            \"macAddress\": null,\n\t        \"firmware\" : null, \n\t        \"freememory\" : null,\n\t        \"sd\" : null,\n    \t    \"uptime\" : null,\n    \t   \t\"temp\"   : null\n        },\n    \t\"ts\": null,\n    \t\"endPointResponce\": null,\n    \t\"endPointRequest\": null\n    };\n    context.global.device = gw;\n}\nvar aep = {id: null, ip: null};\ncontext.global.aep = aep;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":64,"z":"dff434b1.b77188","wires":[["41ffafcf.da1d1","9f099378.358b4"]]},{"id":"a9905f47.c4d15","type":"inject","name":"reInit","topic":"reInit","payload":"reInit","payloadType":"string","repeat":"","crontab":"","once":false,"x":92,"y":102,"z":"dff434b1.b77188","wires":[["4d98fafd.697d94"]]},{"id":"41ffafcf.da1d1","type":"debug","name":"","active":true,"console":"false","complete":"false","x":461,"y":64,"z":"dff434b1.b77188","wires":[]}]
