AEP_GW_health_flow.json
[{"id":"72c56561.1b964c","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"3868b2.c8be974e","type":"exec","command":"ifconfig","addpay":false,"append":"","useSpawn":false,"name":"ifconfig","x":414,"y":165,"z":"65fe8eb9.c2b67","wires":[["69bd0973.fa4a98"],[],[]]},{"id":"88b61fc1.717ee","type":"mqtt in","name":"lora/+/up","topic":"lora/+/up","broker":"72c56561.1b964c","x":148.99999237060547,"y":738,"z":"65fe8eb9.c2b67","wires":[["5521bce2.f82094"]]},{"id":"5521bce2.f82094","type":"debug","name":"/up","active":false,"console":"false","complete":"payload","x":317.0000305175781,"y":738,"z":"65fe8eb9.c2b67","wires":[]},{"id":"2d5d37b5.2705a8","type":"mqtt in","name":"lora/+/joined","topic":"lora/+/joined","broker":"72c56561.1b964c","x":144.8761978149414,"y":791.388671875,"z":"65fe8eb9.c2b67","wires":[["fbb360aa.b7179"]]},{"id":"fbb360aa.b7179","type":"debug","name":"/joined","active":false,"console":"false","complete":"payload","x":314.876220703125,"y":791.388671875,"z":"65fe8eb9.c2b67","wires":[]},{"id":"e996d5cc.014158","type":"mqtt in","name":"lora/+/received","topic":"lora/+/received","broker":"72c56561.1b964c","x":133.87620544433594,"y":682.388671875,"z":"65fe8eb9.c2b67","wires":[["dd6a061a.802258"]]},{"id":"dd6a061a.802258","type":"debug","name":"/up","active":false,"console":"false","complete":"payload","x":311.87622833251953,"y":682.388671875,"z":"65fe8eb9.c2b67","wires":[]},{"id":"e81693f4.ffdf1","type":"mqtt in","name":"lora/+/down","topic":"lora/+/down","broker":"72c56561.1b964c","x":553.0000305175781,"y":683.0000076293945,"z":"65fe8eb9.c2b67","wires":[["a3f82e79.ceddd"]]},{"id":"a3f82e79.ceddd","type":"debug","name":"/down","active":false,"console":"false","complete":"payload","x":706.0000305175781,"y":683.0000076293945,"z":"65fe8eb9.c2b67","wires":[]},{"id":"2adfa525.195b8a","type":"mqtt in","name":"lora/+/packet_sent","topic":"lora/+/packet_sent","broker":"72c56561.1b964c","x":536,"y":738.0000076293945,"z":"65fe8eb9.c2b67","wires":[["5445d1a2.0072f"]]},{"id":"5445d1a2.0072f","type":"debug","name":"/packet_Sent","active":false,"console":"false","complete":"payload","x":725.0000915527344,"y":738.0000076293945,"z":"65fe8eb9.c2b67","wires":[]},{"id":"f28bff97.5203f","type":"debug","name":"/Queue_full","active":false,"console":"false","complete":"payload","x":723.09423828125,"y":792,"z":"65fe8eb9.c2b67","wires":[]},{"id":"8dff01e7.82019","type":"mqtt in","name":"lora/+/queue_full","topic":"lora/+/packet_sent","broker":"72c56561.1b964c","x":534.0941467285156,"y":792,"z":"65fe8eb9.c2b67","wires":[["f28bff97.5203f"]]},{"id":"e4548959.eacc78","type":"inject","name":"onInit","topic":"onInit","payload":"onInit","payloadType":"string","repeat":"","crontab":"","once":true,"x":99,"y":76,"z":"65fe8eb9.c2b67","wires":[["1b329d3f.5f7943"]]},{"id":"f25adad5.5e68f8","type":"http request","name":"gwid","method":"GET","ret":"txt","url":"http://127.0.0.1/api/system/deviceId","x":410.99998474121094,"y":114,"z":"65fe8eb9.c2b67","wires":[["bd30f259.351f7"]]},{"id":"bd30f259.351f7","type":"function","name":"aep id","func":"var responce = JSON.parse(msg.payload);\n//context.global.aep.id = responce.result;\ncontext.global.device.id = responce.result;\nreturn msg;","outputs":1,"noerr":0,"x":569.9999847412109,"y":114,"z":"65fe8eb9.c2b67","wires":[[]]},{"id":"69bd0973.fa4a98","type":"function","name":"ip","func":"// Parse the entire string by spaces, and put each item into an array called tokens\nvar tokens = msg.payload.split(\":\", 10);\n// Get the 7th token (example: \"addr:192.168.0.120\")\n// and get the substring from character 6 to the end\nvar inet = tokens[7].split(\" \", 1);\n// Get the 9th token (example: \"Mask:255.255.255.0\")\n// and get the substring from character 6 to the end\nvar mask = tokens[9].split(\" \", 1);\n//context.global.aep.ip = inet[0];\ncontext.global.device.eth0.ip = inet[0];\ncontext.global.device.eth0.sub = mask[0];\n","outputs":1,"noerr":0,"x":571,"y":152,"z":"65fe8eb9.c2b67","wires":[[]]},{"id":"4679dd31.ac1094","type":"http request","name":"ppp","method":"GET","ret":"txt","url":"http://127.0.0.1/api/stats/ppp","x":413,"y":263,"z":"65fe8eb9.c2b67","wires":[["7ef9825c.d91d7c"]]},{"id":"e2cc8c7d.77da9","type":"exec","command":"cat /sys/class/hwmon/hwmon0/device/temp1_input","addpay":false,"append":"","useSpawn":"","name":"temp","x":416,"y":217,"z":"65fe8eb9.c2b67","wires":[["2931fb2e.697464"],[],[]]},{"id":"1b329d3f.5f7943","type":"function","name":"device ojb","func":"if(typeof context.global.device === 'undefined' || msg.topic === 'reInit'){\n    var gw = {\n    \t\"site\": \"St_Albans - Dev02\",\n    \t\"id\" : null,\n    \t\"eth0\": {\n    \t\t\"ip\": null,\n    \t\t\"sub\": null\n    \t},\n    \t\"cellular\":{\n            \"areaCode\": null,\n            \"ip\": null,\n            \"rssi\": null,\n            \"roaming\": null,\n            \"tower\": null,\n            \"rxbytes\": null,\n            \"txbytes\": null,\n            \"service\": null,\n            \"network\": null,\n            \"mcc\": null,\n            \"mnc\": null,\n            \"lac\": null,\n            \"cid\": null\n        },\n    \t\"system\": {\n            \"macAddress\": null,\n\t        \"firmware\" : null, \n\t        \"freememory\" : null,\n\t        \"sd\" : null,\n    \t    \"uptime\" : null,\n    \t   \t\"temp\"   : null\n        },\n    \t\"ts\": null,\n    \t\"endPointResponce\": null,\n    \t\"endPointRequest\": null\n    };\n    context.global.device = gw;\n}\nvar aep = {id: null, ip: null};\ncontext.global.aep = aep;\nreturn msg;","outputs":1,"noerr":0,"x":242,"y":76,"z":"65fe8eb9.c2b67","wires":[["e8635241.c2c21","64925711.2a0128"]]},{"id":"260c999b.c1dab6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":623,"y":579,"z":"65fe8eb9.c2b67","wires":[]},{"id":"243b8644.46a0da","type":"function","name":"device","func":"msg.payload = context.global.device;\nreturn msg;","outputs":1,"noerr":0,"x":441.00341796875,"y":579.1527709960938,"z":"65fe8eb9.c2b67","wires":[["260c999b.c1dab6"]]},{"id":"b65b0eae.14f4a","type":"inject","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":286.00689697265625,"y":579.6318969726562,"z":"65fe8eb9.c2b67","wires":[["243b8644.46a0da"]]},{"id":"2931fb2e.697464","type":"function","name":"cpu temp","func":"context.global.device.system.temp = (msg.payload * .001).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":204,"z":"65fe8eb9.c2b67","wires":[[]]},{"id":"7ef9825c.d91d7c","type":"function","name":"cellular ppp","func":"// https://opencellid.org/\nvar ppp = JSON.parse(msg.payload);\n//context.global.device.cellular = ppp.result; \ncontext.global.device.cellular.areaCode = ppp.result.areaCode;\ncontext.global.device.cellular.ip = ppp.result.ip;\ncontext.global.device.cellular.roaming = ppp.result.roaming;\ncontext.global.device.cellular.tower =   parseInt(ppp.result.tower, 16);\ncontext.global.device.cellular.rxbytes = ppp.result.rx.bytes || 0;\ncontext.global.device.cellular.txbytes = ppp.result.tx.bytes || 0;\n","outputs":1,"noerr":0,"x":588,"y":263,"z":"65fe8eb9.c2b67","wires":[[]]},{"id":"c5a3f93c.d5dd38","type":"http request","name":"FRED","method":"use","ret":"txt","url":"","x":754,"y":461,"z":"65fe8eb9.c2b67","wires":[["287a5415.a865bc"]]},{"id":"bc338033.ef892","type":"http request","name":"radio","method":"GET","ret":"txt","url":"http://127.0.0.1/api/stats/radio","x":413,"y":307,"z":"65fe8eb9.c2b67","wires":[["57617403.5d745c"]]},{"id":"57617403.5d745c","type":"function","name":"cellular radio","func":"// https://opencellid.org/\nvar radio = JSON.parse(msg.payload);\ncontext.global.device.cellular.rssi = radio.result.rssidBm;\ncontext.global.device.cellular.network = radio.result.network;\ncontext.global.device.cellular.service = radio.result.service;\ncontext.global.device.cellular.mcc = radio.result.mcc;\ncontext.global.device.cellular.mnc = radio.result.mnc;\ncontext.global.device.cellular.lac = parseInt(radio.result.lac, 16);\ncontext.global.device.cellular.cid = parseInt(radio.result.cid, 16);\n//msg.url = \"https://fred.sensetecnic.com/public/law01/dump?m=\"+JSON.stringify(ppp.result);\n\n/* cell rssi\n-69 dBm or greater: Strong signal\n-89 dbm to -70 dBm: Medium to high signal\n-99 dbm to -90 dBm: Weak signal \n-100 dBm or less: Unacceptable signal, check antenna connection\n*/\n\n","outputs":1,"noerr":0,"x":589,"y":307,"z":"65fe8eb9.c2b67","wires":[[]]},{"id":"db1cee33.f074f","type":"http request","name":"sys","method":"GET","ret":"txt","url":"http://127.0.0.1/api/system","x":413,"y":352,"z":"65fe8eb9.c2b67","wires":[["374d18e4.b0d138"]]},{"id":"374d18e4.b0d138","type":"function","name":"system","func":"var sys = JSON.parse(msg.payload);\ncontext.global.device.system.macAddress = sys.result.macAddress ;\ncontext.global.device.system.firmware = sys.result.firmware;\ncontext.global.device.system.freememory = (sys.result.memory.total.free/1000000).toFixed(1); \ncontext.global.device.system.uptime = sys.result.uptime;\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":352,"z":"65fe8eb9.c2b67","wires":[[]]},{"id":"1e3333d6.2d636c","type":"exec","command":"df -h","addpay":false,"append":"","useSpawn":"","name":"","x":412,"y":407,"z":"65fe8eb9.c2b67","wires":[["9b20838a.7c84e"],[],[]]},{"id":"f7416929.ae0fa8","type":"inject","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":418,"y":501,"z":"65fe8eb9.c2b67","wires":[["fbc9e8c.758cb18"]]},{"id":"fbc9e8c.758cb18","type":"function","name":"to cloud","func":"context.global.device.ts = Date.now();\nmsg.payload= context.global.device;\nmsg.url = \"\";\nmsg.method = \"POST\";\nmsg.payload = JSON.stringify(context.global.device);\nreturn msg;","outputs":1,"noerr":0,"x":594,"y":461,"z":"65fe8eb9.c2b67","wires":[["c5a3f93c.d5dd38"]]},{"id":"287a5415.a865bc","type":"debug","name":"","active":false,"console":"false","complete":"false","x":920,"y":462,"z":"65fe8eb9.c2b67","wires":[]},{"id":"9b20838a.7c84e","type":"function","name":"SD","func":"context.global.device.system.sd = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":394,"z":"65fe8eb9.c2b67","wires":[[]]},{"id":"3f38bb30.3f5714","type":"comment","name":"LoRaWAN - Debug","info":"","x":120,"y":633,"z":"65fe8eb9.c2b67","wires":[]},{"id":"4b95ca12.fcd724","type":"delay","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":421,"y":462,"z":"65fe8eb9.c2b67","wires":[["fbc9e8c.758cb18"]]},{"id":"e78e07e1.4abca8","type":"comment","name":"AEP monitor v0.1.0","info":"","x":104,"y":28,"z":"65fe8eb9.c2b67","wires":[]},{"id":"9d0a6dfc.0b056","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"72c56561.1b964c","x":483,"y":922,"z":"65fe8eb9.c2b67","wires":[]},{"id":"c51e5e56.a61f9","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":145,"y":922,"z":"65fe8eb9.c2b67","wires":[["9e7bacf0.61f58"]]},{"id":"9e7bacf0.61f58","type":"function","name":"ADR","func":"msg.topic=\"lora/0e:7e:34:64:33:30:67:44/down\";\nmsg.payload = '{\"data\":\"A0AHAAE=\",\"port\":0}';\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":922,"z":"65fe8eb9.c2b67","wires":[["9d0a6dfc.0b056"]]},{"id":"674062e3.58b01c","type":"comment","name":"LoRaWAN - MAC","info":"","x":123,"y":881,"z":"65fe8eb9.c2b67","wires":[]},{"id":"366cb6e6.8ace3a","type":"inject","name":"reInit","topic":"reInit","payload":"reInit","payloadType":"string","repeat":"","crontab":"","once":false,"x":101,"y":114,"z":"65fe8eb9.c2b67","wires":[["1b329d3f.5f7943"]]},{"id":"55074ecc.644db","type":"function","name":"link","func":"\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":280,"z":"65fe8eb9.c2b67","wires":[["f25adad5.5e68f8","3868b2.c8be974e","e2cc8c7d.77da9","4679dd31.ac1094","bc338033.ef892","db1cee33.f074f","1e3333d6.2d636c","4b95ca12.fcd724"]]},{"id":"e8635241.c2c21","type":"delay","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":105,"y":231,"z":"65fe8eb9.c2b67","wires":[["55074ecc.644db"]]},{"id":"cb511b64.1071d8","type":"inject","name":"heart beat","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":104,"y":322,"z":"65fe8eb9.c2b67","wires":[["55074ecc.644db"]]},{"id":"64925711.2a0128","type":"debug","name":"","active":true,"console":"false","complete":"false","x":425,"y":76,"z":"65fe8eb9.c2b67","wires":[]}]
