AEP_GW_health_flow.json
[{"id":"14c0b206.8ac01e","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"85e48248.bde2e","type":"exec","command":"ifconfig","addpay":false,"append":"","useSpawn":false,"name":"ifconfig","x":421,"y":176,"z":"2e46e351.919d7c","wires":[["c5361100.65f87"],[],[]]},{"id":"b9e0cf75.252de","type":"mqtt in","name":"lora/+/up","topic":"lora/+/up","broker":"14c0b206.8ac01e","x":130.99999237060547,"y":781,"z":"2e46e351.919d7c","wires":[["44dd6fda.ed38c"]]},{"id":"44dd6fda.ed38c","type":"debug","name":"/up","active":false,"console":"false","complete":"payload","x":299.0000305175781,"y":781,"z":"2e46e351.919d7c","wires":[]},{"id":"96f5a40c.0a6ad8","type":"mqtt in","name":"lora/+/joined","topic":"lora/+/joined","broker":"14c0b206.8ac01e","x":126.8761978149414,"y":834.388671875,"z":"2e46e351.919d7c","wires":[["18b5c4c9.e4c52b"]]},{"id":"18b5c4c9.e4c52b","type":"debug","name":"/joined","active":false,"console":"false","complete":"payload","x":296.876220703125,"y":834.388671875,"z":"2e46e351.919d7c","wires":[]},{"id":"e92e610a.8948","type":"mqtt in","name":"lora/+/received","topic":"lora/+/received","broker":"14c0b206.8ac01e","x":115.87620544433594,"y":725.388671875,"z":"2e46e351.919d7c","wires":[["977ca494.945b68"]]},{"id":"977ca494.945b68","type":"debug","name":"/up","active":false,"console":"false","complete":"payload","x":293.87622833251953,"y":725.388671875,"z":"2e46e351.919d7c","wires":[]},{"id":"9b95cc9.879ca3","type":"mqtt in","name":"lora/+/down","topic":"lora/+/down","broker":"14c0b206.8ac01e","x":535.0000305175781,"y":726.0000076293945,"z":"2e46e351.919d7c","wires":[["367ada86.b80706"]]},{"id":"367ada86.b80706","type":"debug","name":"/down","active":false,"console":"false","complete":"payload","x":688.0000305175781,"y":726.0000076293945,"z":"2e46e351.919d7c","wires":[]},{"id":"b7417bb.bd68d88","type":"mqtt in","name":"lora/+/packet_sent","topic":"lora/+/packet_sent","broker":"14c0b206.8ac01e","x":518,"y":781.0000076293945,"z":"2e46e351.919d7c","wires":[["6c9c04e9.c1b23c"]]},{"id":"6c9c04e9.c1b23c","type":"debug","name":"/packet_Sent","active":false,"console":"false","complete":"payload","x":707.0000915527344,"y":781.0000076293945,"z":"2e46e351.919d7c","wires":[]},{"id":"4b7522cf.aa6d2c","type":"debug","name":"/Queue_full","active":false,"console":"false","complete":"payload","x":705.09423828125,"y":835,"z":"2e46e351.919d7c","wires":[]},{"id":"c2a20642.0dc5e8","type":"mqtt in","name":"lora/+/queue_full","topic":"lora/+/packet_sent","broker":"14c0b206.8ac01e","x":516.0941467285156,"y":835,"z":"2e46e351.919d7c","wires":[["4b7522cf.aa6d2c"]]},{"id":"a3004aaf.b332d8","type":"inject","name":"onInit","topic":"onInit","payload":"onInit","payloadType":"string","repeat":"","crontab":"","once":true,"x":106,"y":87,"z":"2e46e351.919d7c","wires":[["9c564efe.43c9c"]]},{"id":"ade1037.249f4","type":"http request","name":"gwid","method":"GET","ret":"txt","url":"http://127.0.0.1/api/system/deviceId","x":417.99998474121094,"y":125,"z":"2e46e351.919d7c","wires":[["4ee37e15.adc9b"]]},{"id":"4ee37e15.adc9b","type":"function","name":"aep id","func":"var responce = JSON.parse(msg.payload);\n//context.global.aep.id = responce.result;\ncontext.global.device.id = responce.result;\nreturn msg;","outputs":1,"noerr":0,"x":576.9999847412109,"y":125,"z":"2e46e351.919d7c","wires":[[]]},{"id":"c5361100.65f87","type":"function","name":"ip","func":"// Parse the entire string by spaces, and put each item into an array called tokens\nvar tokens = msg.payload.split(\":\", 10);\n// Get the 7th token (example: \"addr:192.168.0.120\")\n// and get the substring from character 6 to the end\nvar inet = tokens[7].split(\" \", 1);\n// Get the 9th token (example: \"Mask:255.255.255.0\")\n// and get the substring from character 6 to the end\nvar mask = tokens[9].split(\" \", 1);\n//context.global.aep.ip = inet[0];\ncontext.global.device.eth0.ip = inet[0];\ncontext.global.device.eth0.sub = mask[0];\n","outputs":1,"noerr":0,"x":578,"y":163,"z":"2e46e351.919d7c","wires":[[]]},{"id":"542d8db5.961fb4","type":"http request","name":"ppp","method":"GET","ret":"txt","url":"http://127.0.0.1/api/stats/ppp","x":420,"y":274,"z":"2e46e351.919d7c","wires":[["ef703c98.b53fb"]]},{"id":"7207aa73.79e1e4","type":"exec","command":"cat /sys/class/hwmon/hwmon0/device/temp1_input","addpay":false,"append":"","useSpawn":"","name":"temp","x":423,"y":228,"z":"2e46e351.919d7c","wires":[["5c0a7eea.b7dfd"],[],[]]},{"id":"9c564efe.43c9c","type":"function","name":"device ojb","func":"if(typeof context.global.device === 'undefined' || msg.topic === 'reInit'){\n    var gw = {\n        \"msgType\": 'heartBeat',\n    \t\"site\": \"St_Albans - Dev01\",\n    \t\"id\" : null,\n    \t\"eth0\": {\n    \t\t\"ip\": null,\n    \t\t\"sub\": null\n    \t},\n    \t\"cellular\":{\n            \"areaCode\": null,\n            \"ip\": null,\n            \"rssi\": null,\n            \"roaming\": null,\n            \"tower\": null,\n            \"rxbytes\": null,\n            \"txbytes\": null,\n            \"service\": null,\n            \"network\": null,\n            \"mcc\": null,\n            \"mnc\": null,\n            \"lac\": null,\n            \"cid\": null\n        },\n    \t\"system\": {\n            \"macAddress\": null,\n\t        \"firmware\" : null, \n\t        \"freememory\" : null,\n\t        \"sd\" : null,\n    \t    \"uptime\" : null,\n    \t   \t\"temp\"   : null\n        },\n    \t\"ts\": null,\n    \t\"endPointResponce\": null,\n    \t\"endPointRequest\": null\n    };\n    context.global.device = gw;\n}\nvar aep = {id: null, ip: null};\ncontext.global.aep = aep;\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":87,"z":"2e46e351.919d7c","wires":[["391e5916.94a636","e4415517.b511b8"]]},{"id":"e5e63f10.2e725","type":"debug","name":"","active":true,"console":"false","complete":"false","x":605,"y":622,"z":"2e46e351.919d7c","wires":[]},{"id":"d9865ade.7c8ee8","type":"function","name":"device","func":"msg.payload = context.global.device;\nreturn msg;","outputs":1,"noerr":0,"x":423.00341796875,"y":622.1527709960938,"z":"2e46e351.919d7c","wires":[["e5e63f10.2e725"]]},{"id":"bca8dd85.9f21c","type":"inject","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":268.00689697265625,"y":622.6318969726562,"z":"2e46e351.919d7c","wires":[["d9865ade.7c8ee8"]]},{"id":"5c0a7eea.b7dfd","type":"function","name":"cpu temp","func":"context.global.device.system.temp = (msg.payload * .001).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":215,"z":"2e46e351.919d7c","wires":[[]]},{"id":"ef703c98.b53fb","type":"function","name":"cellular ppp","func":"// https://opencellid.org/\nvar ppp = JSON.parse(msg.payload);\n//context.global.device.cellular = ppp.result; \ncontext.global.device.cellular.areaCode = ppp.result.areaCode;\ncontext.global.device.cellular.ip = ppp.result.ip;\ncontext.global.device.cellular.roaming = ppp.result.roaming;\ncontext.global.device.cellular.tower =   parseInt(ppp.result.tower, 16);\nif(typeof ppp.result.rx === 'undefined'){\n    context.global.device.cellular.rxbytes = 0;\n    context.global.device.cellular.txbytes = 0;\n} else {\n    context.global.device.cellular.rxbytes = ppp.result.rx.bytes;\n    context.global.device.cellular.txbytes = ppp.result.tx.bytes;\n}","outputs":1,"noerr":0,"x":595,"y":274,"z":"2e46e351.919d7c","wires":[[]]},{"id":"6af514f.98accec","type":"http request","name":"radio","method":"GET","ret":"txt","url":"http://127.0.0.1/api/stats/radio","x":420,"y":318,"z":"2e46e351.919d7c","wires":[["6c2b5bd.8b195a4"]]},{"id":"6c2b5bd.8b195a4","type":"function","name":"cellular radio","func":"// https://opencellid.org/\nvar radio = JSON.parse(msg.payload);\ncontext.global.device.cellular.rssi = radio.result.rssidBm;\ncontext.global.device.cellular.network = radio.result.network;\ncontext.global.device.cellular.service = radio.result.service;\ncontext.global.device.cellular.mcc = radio.result.mcc;\ncontext.global.device.cellular.mnc = radio.result.mnc;\ncontext.global.device.cellular.lac = parseInt(radio.result.lac, 16);\ncontext.global.device.cellular.cid = parseInt(radio.result.cid, 16);\n//msg.url = \"https://fred.sensetecnic.com/public/law01/dump?m=\"+JSON.stringify(ppp.result);\n\n/* cell rssi\n-69 dBm or greater: Strong signal\n-89 dbm to -70 dBm: Medium to high signal\n-99 dbm to -90 dBm: Weak signal \n-100 dBm or less: Unacceptable signal, check antenna connection\n*/\n\n","outputs":1,"noerr":0,"x":596,"y":318,"z":"2e46e351.919d7c","wires":[[]]},{"id":"611a24cb.f699fc","type":"http request","name":"sys","method":"GET","ret":"txt","url":"http://127.0.0.1/api/system","x":420,"y":363,"z":"2e46e351.919d7c","wires":[["262557f6.9b1668"]]},{"id":"262557f6.9b1668","type":"function","name":"system","func":"var sys = JSON.parse(msg.payload);\ncontext.global.device.system.macAddress = sys.result.macAddress ;\ncontext.global.device.system.firmware = sys.result.firmware;\ncontext.global.device.system.freememory = (sys.result.memory.total.free/1000000).toFixed(1); \n//context.global.device.system.uptime = sys.result.uptime;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":363,"z":"2e46e351.919d7c","wires":[[]]},{"id":"44df9cfb.3fc354","type":"exec","command":"df -h","addpay":false,"append":"","useSpawn":"","name":"","x":417.5,"y":468,"z":"2e46e351.919d7c","wires":[["5beb49f1.580fd8"],[],[]]},{"id":"6a62666f.e70608","type":"inject","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":446.5,"y":559,"z":"2e46e351.919d7c","wires":[["b2297d58.1153a"]]},{"id":"b2297d58.1153a","type":"function","name":"to cloud","func":"context.global.device.ts = Date.now();\nmsg.payload= context.global.device;\nmsg.url = \"https://law01.fred.sensetecnic.com/api/public/dump\";\nmsg.method = \"POST\";\nmsg.payload = JSON.stringify(context.global.device);\nreturn msg;","outputs":1,"noerr":0,"x":585.5,"y":518,"z":"2e46e351.919d7c","wires":[[]]},{"id":"5beb49f1.580fd8","type":"function","name":"SD","func":"context.global.device.system.sd = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":578.5,"y":455,"z":"2e46e351.919d7c","wires":[[]]},{"id":"df20d115.f34bc","type":"comment","name":"LoRaWAN - Debug","info":"","x":102,"y":676,"z":"2e46e351.919d7c","wires":[]},{"id":"1e2f1739.113939","type":"delay","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":429.5,"y":519,"z":"2e46e351.919d7c","wires":[["b2297d58.1153a"]]},{"id":"f3cc1688.8560b8","type":"comment","name":"AEP monitor v0.1.2","info":"","x":111,"y":39,"z":"2e46e351.919d7c","wires":[]},{"id":"dff2fc09.4bea7","type":"inject","name":"reInit","topic":"reInit","payload":"reInit","payloadType":"string","repeat":"","crontab":"","once":false,"x":108,"y":125,"z":"2e46e351.919d7c","wires":[["9c564efe.43c9c"]]},{"id":"a4cf388f.fd74b8","type":"function","name":"link","func":"\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":291,"z":"2e46e351.919d7c","wires":[["ade1037.249f4","85e48248.bde2e","7207aa73.79e1e4","542d8db5.961fb4","6af514f.98accec","611a24cb.f699fc","44df9cfb.3fc354","1e2f1739.113939","f63339fe.fb1478"]]},{"id":"391e5916.94a636","type":"delay","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":112,"y":242,"z":"2e46e351.919d7c","wires":[["a4cf388f.fd74b8"]]},{"id":"93bf6a05.c23ce8","type":"inject","name":"heart beat","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":111,"y":333,"z":"2e46e351.919d7c","wires":[["a4cf388f.fd74b8"]]},{"id":"e4415517.b511b8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":432,"y":87,"z":"2e46e351.919d7c","wires":[]},{"id":"f63339fe.fb1478","type":"exec","command":"uptime","addpay":false,"append":"","useSpawn":"","name":"","x":415.5,"y":415,"z":"2e46e351.919d7c","wires":[["e6b5f84c.5a4ab8"],[],[]]},{"id":"e6b5f84c.5a4ab8","type":"function","name":"sys uptime","func":"//http://blog.scoutapp.com/articles/2009/07/31/understanding-load-averages\ncontext.global.device.system.uptime = msg.payload;\n//return msg;","outputs":1,"noerr":0,"x":592,"y":402,"z":"2e46e351.919d7c","wires":[[]]}]
